body {
font-family: sans-serif;
background-color: #c5c4ff;
}


h1 {
color: white;
font-size: 34px;
padding: 18px 10px;
text-shadow: 2px 2px 3px #414245;
font-family: Georgia, serif;
}

h2 {
color: white;
background-color: #090c42;
font-size: 26px;
padding: 18px 10px;
text-shadow: 2px 2px 3px #414245;
border-radius: 10px;
font-family: Georgia, serif;
}
p{
font-family: sans-serif;
}
.container{
/*width: 75%;*/
margin: auto;
display: grid;
grid-template-columns: 1fr 6fr;
}

main {
grid-column: 2/8;
padding-right: 100px;
padding-left: 20px;
}

aside li {
list-style-type: none;
}


nav {
grid-column: 1/2;
background-color: #f1f1f1;
height: 100%;

}

nav ul{
padding:10px;
background-color: #f1f1f1;
}
nav li{
text-decoration: none;
font-size: 30px;
padding-bottom: 50px;
}

nav ul li {
list-style-type: none;
}

nav a {
text-decoration: none;
color:black;
}

nav a:hover{
background-color:powderblue;
padding:10px;
}
.lead {
box-shadow: rgba(99, 99, 99, 0.2) 2px 3px 10px 2px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 32px;
/*gradient background*/
color: white
}

#nyc {
background: rgb(153,99,184);
background: linear-gradient(90deg, rgba(153,99,184,1) 1%, rgba(124,1,189,1) 50%, rgba(175,34,127,1) 100%);
border-radius: 10px;
}

#neworleans {
background: rgb(153,99,184);
background: linear-gradient(90deg, rgba(153,99,184,1) 1%, rgba(124,1,189,1) 50%, rgba(175,34,127,1) 100%);
border-radius: 10px;
}

#sf {
background: rgb(153,99,184);
background: linear-gradient(90deg, rgba(153,99,184,1) 1%, rgba(124,1,189,1) 50%, rgba(175,34,127,1) 100%);
border-radius: 10px;
}

#toronto {
background: rgb(153,99,184);
background: linear-gradient(90deg, rgba(153,99,184,1) 1%, rgba(124,1,189,1) 50%, rgba(175,34,127,1) 100%);
border-radius: 10px;
}

footer{
background-color:lightgray;
text-align:center;
padding:5px;
font-size: 20px;
margin:5px;
}